[submodule "CSharp.Nixill"]
	path = CSharp.Nixill
	url = ../CSharp.Nixill/
[submodule "CSharp.Nixill.OBSWS"]
	path = CSharp.Nixill.OBSWS
	url = ../CSharp.Nixill.OBSWS/
[submodule "CSharp.Nixill.JSON"]
	path = CSharp.Nixill.JSON
	url = ../CSharp.Nixill.JSON/
